# Ignore node_modules and logs
node_modules
npm-debug.log
yarn-debug.log
pnpm-debug.log
*.log

# Ignore build and temp files
dist
build
.tmp
.temp
.cache
coverage
*.tsbuildinfo

# Git & IDE
.git
.gitignore
.vscode
.idea
.DS_Store

# Local env
.env
.env.local
